In [14]:
# Import packages
import json
import pandas as pd
import plotly.express as px
import numpy as np

In [2]:
with open('data_extended_streaming\Streaming_History_Audio_2022-2024_1.json') as f1:
    data1 = json.load(f1)
with open('data_extended_streaming\Streaming_History_Audio_2018-2022_0.json') as f2:
    data2 = json.load(f2)

In [3]:
df1 = pd.DataFrame.from_dict(data1, orient='columns')
df2 = pd.DataFrame.from_dict(data2, orient='columns')

In [4]:
df = pd.concat([df1, df2], axis=0)

In [5]:
df = df.drop(['ip_addr','spotify_track_uri','platform','offline_timestamp','incognito_mode','spotify_episode_uri'], axis=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26496 entries, 0 to 18716
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ts                                 26496 non-null  object
 1   ms_played                          26496 non-null  int64
 2   conn_country                       26496 non-null  object
 3   master_metadata_track_name         26061 non-null  object
 4   master_metadata_album_artist_name  26061 non-null  object
 5   master_metadata_album_album_name   26061 non-null  object
 6   episode_name                       434 non-null    object
 7   episode_show_name                  434 non-null    object
 8   reason_start                       26496 non-null  object
 9   reason_end                         26496 non-null  object
 10  shuffle                            26496 non-null  bool
 11  skipped                            26496 non-null  bool
 12  offline                            26496 non-null  bool
dtypes: bool(3), int64(1), object(9)
memory usage: 2.3+ MB

In [7]:
df['ts'] = pd.to_datetime(df['ts'])

In [9]:
df['date'] = pd.to_datetime(df['ts']).dt.date

In [11]:
df['time'] = pd.to_datetime(df['ts']).dt.time

In [15]:
df['year'] = pd.to_datetime(df['ts']).dt.year

In [16]:
df.sort_values(by=['date'], inplace=True)
df.head()

,ts,ms_played,conn_country,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,episode_name,episode_show_name,reason_start,reason_end,shuffle,skipped,offline,date,time,year
0,2018-10-19 02:04:12+00:00,3050,US,Wagon Wheel,Darius Rucker,True Believers,None,None,playbtn,fwdbtn,True,False,False,2018-10-19,02:04:12,2018
8,2018-10-19 02:17:40+00:00,219043,US,Sugar (feat. Francesco Yates),Robin Schulz,Sugar,None,None,fwdbtn,trackdone,True,False,False,2018-10-19,02:17:40,2018
2,2018-10-19 02:04:16+00:00,2047,US,You're Welcome,Dwayne Johnson,Moana - Original Motion Picture Soundtrack/Del...,None,None,fwdbtn,fwdbtn,True,False,False,2018-10-19,02:04:16,2018
3,2018-10-19 02:07:09+00:00,173931,US,Hope (feat. Naomi Wild),Tim Legend,Hope (feat. Naomi Wild),None,None,fwdbtn,trackdone,True,False,False,2018-10-19,02:07:09,2018
4,2018-10-19 02:08:57+00:00,106848,US,Hallelujah,Pentatonix,A Pentatonix Christmas Deluxe,None,None,trackdone,fwdbtn,True,False,False,2018-10-19,02:08:57,2018

In [24]:
artists = df.groupby(["year","master_metadata_album_artist_name"]).sum('ms_played')

In [25]:
artists

                                        ms_played  shuffle  skipped  offline
year master_metadata_album_artist_name
2018 A R I Z O N A                         131263        0        0        0
     AJR                                   202193        1        0        0
     Adele                                 290906        1        0        0
     Aerosmith                             266960        1        0        0
     Aminé                                 209640        1        0        0
...                                           ...      ...      ...      ...
2024 berlioz                              2396932        0        0        0
     blackbear                               9600        0        1        0
     flipturn                              412802        0       13        0
     piri                                     661        0        2        0
     runo plum                              64618        0        1        0

[1970 rows x 4 columns]